<%# agrego los links que van a ir en la barraa de navegacion %>
<% if user_signed_in? %>
  <li><%= link_to 'Editar Cuenta', edit_user_registration_path %></li>
  <li><%= link_to 'Salir', destroy_user_session_path, :method=>'delete' %></li>
<% else %>
  <li><%= link_to 'Iniciar sesion', new_user_session_path %></li>
  <li><%= link_to 'Registrarse', new_user_registration_path %> </li>

<% end %>
   	<ul class="right">	
		<li class="divider"></li>
      		<li class="has-dropdown">
	        		<a href="#">Marcas</a>
	        	<ul class="dropdown">

	          		<% @brands.each do |brand| %>
	           			<li> <%= link_to brand.name, home_brand_path(brand_id: brand.id) %></li>
	          		<% end %>
	        	</ul>
      		</li>
    </ul>

  